---
import Projects from '../components/Projects.astro';
import TheRear from '../components/TheRear';
import { type Project, projects } from '../data/projects';

const sortedProjects = projects.map(project => ({
  ...project,
  date: new Date(project.date),
}) as Project).sort((a,b) => b.date.getTime() - a.date.getTime());

const digital = sortedProjects.filter((project) => project.isDigital)

const physical = sortedProjects.filter((project) => project.isPhysical);

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrew Hill – Portfolio</title>
	</head>
	<body>
    <div class="bio">
      <h1>Andrew Thomas Hill</h1>
      <p>Creative Developer</p>
      <a href="mailto:contact@andrewthomashill.co.uk">Email</a>
    </div>
    <Projects client:load isDigital projects={digital} />
    <Projects client:load projects={physical} />
    <TheRear client:idle />
	</body>
</html>

<style>
  @font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro'), url('/fonts/Acumin-RPro.woff') format('woff');
  }

  @font-face {
    font-family: 'Acumin Pro';
    font-style: italic;
    font-weight: normal;
    src: local('Acumin Pro Italic'), url('/fonts/Acumin-ItPro.woff') format('woff');
  }

  * {
    box-sizing: border-box;
  }

  :root {
    --background-color: 237 237 237;
    --text-color: 34 34 34;
  }

  html {
    font-size: 12px;

    @media (min-width: 420px) {
      font-size: 14px;
    }

    @media (min-width: 820px) {
      font-size: 16px;
    }
  }

  body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings:
      "kern" 1,
      "ss01" 1,
      "liga",
      "clig";
    font-optical-sizing: auto;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.0125em;
    -webkit-hyphenate-character: "-";
    text-rendering: optimizeLegibility;
    font-family: "Acumin Pro", Papyrus, sans-serif;
    font-size: 62.5%;

    background-color: var(--background-color);

    max-width: 1440px;
    margin: 0 auto;
  }

  .bio {
    height: 33vh;
    padding: 4rem 1rem;
    font-size: 1.5rem;

    h1, p, a {
      font-weight: inherit;
      font-size: inherit;
      margin: 0 0 0.5em;
      text-underline-offset: 0.2em;
      color: inherit;
    }
  }
</style>