---
import Projects from "../components/Projects.astro";
import type { Project } from "../data/projects";

const works: Project[] = [
  {
    title: "The French Hound",
    description: "A classic of the genre",
    date: new Date(),
    link: "/tove/1.jpeg",
    isDigital: false,
    isPhysical: true,
  },
  {
    title: "The Cyclist",
    description: "Something of a basket case",
    date: new Date(),
    link: "/tove/2.jpeg",
    isDigital: false,
    isPhysical: true,
  },
  {
    title: "Cone and Stick",
    description: "Double humiliation",
    date: new Date(),
    link: "/tove/3.jpeg",
    isDigital: false,
    isPhysical: true,
  },
  {
    title: "Office Dog",
    description: "A classic of the genre",
    date: new Date(),
    link: "/tove/4.JPG",
    isDigital: false,
    isPhysical: true,
  },
  {
    title: "Shower",
    description: "Wet and ruffled",
    date: new Date(),
    link: "/tove/5.jpeg",
    isDigital: false,
    isPhysical: true,
  },
  {
    title: "The Thief",
    description: "Egg rustling",
    date: new Date(),
    link: "/tove/6.jpeg",
    isDigital: false,
    isPhysical: true,
  },
  {
    title: "Liquid",
    description: "Dog not Snake",
    date: new Date(),
    link: "/tove/7.jpeg",
    isDigital: false,
    isPhysical: true,
  },
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tove – Portfolio</title>
    <script>
      import { logClicks, logPageView } from '../utils.ts'
      logPageView()
      logClicks()
    </script>
	</head>
	<body>
    <div class="bio">
      <h1>Tove</h1>
      <p>Career: Dog</p>
      <a href="mailto:tove@andrewthomashill.co.uk" class="email">Email</a>
    </div>
    <div class="header">
      <img src="/tove/1.jpeg" loading="lazy" />
    </div>
    <Projects hasTitle={false} projects={works} />
	</body>
</html>

<style>
  @font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro'), url('/fonts/Acumin-RPro.woff') format('woff');
  }

  @font-face {
    font-family: 'Acumin Pro';
    font-style: italic;
    font-weight: normal;
    src: local('Acumin Pro Italic'), url('/fonts/Acumin-ItPro.woff') format('woff');
  }

  * {
    box-sizing: border-box;
  }

  :root {
    --background-color: 237 237 237;
    --text-color: 34 34 34;
  }

  html {
    font-size: 12px;

    @media (min-width: 420px) {
      font-size: 14px;
    }

    @media (min-width: 580px) {
      font-size: 16px;
    }

    @media (min-width: 700px) {
      font-size: 12px;
    }

    @media (min-width: 860px) {
      font-size: 14px;
    }

    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }

  body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings:
      "kern" 1,
      "ss01" 1,
      "liga",
      "clig";
    font-optical-sizing: auto;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.0125em;
    -webkit-hyphenate-character: "-";
    text-rendering: optimizeLegibility;
    font-family: "Acumin Pro", Papyrus, sans-serif;
    font-size: 62.5%;

    background-color: rgba(var(--background-color) / 1);
    color: rgba(var(--text-color) / 1);

    max-width: 1440px;
    margin: 0 auto;
  }

  .bio {
    height: 33vh;
    padding: 3rem 1rem;
    font-size: 1.5rem;

    h1, p, a {
      font-weight: inherit;
      font-size: inherit;
      margin: 0 0 0.5em;
      text-underline-offset: 0.2em;
      color: inherit;
    }


    .email {
      cursor: not-allowed;
      text-decoration: none;

      &::after {
        content: "no i am a dog";
        font-size: 0.75em;
        font-style: italic;
        margin-left: 0.5em;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    img {
      width: 100%;
      margin: 1rem;
    }
  }
  
</style>