.projects {
  --color: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    --color: rgba(0, 0, 0, 0.3);
  }
}

.title {
  font-size: 1.5rem;
  font-weight: inherit;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.25em;
}

.project {
  display: grid;
  grid-template-columns: minmax(auto, 50%) 1fr max-content;
  flex-direction: row;
  align-items: center;
  color: var(--color);
  font-size: 1.5rem;

  cursor: pointer;

  &:hover {
    --color: rgba(0, 0, 0, 1);
  }

  p {
    margin: 0;
  }
}
